<h1> Usuarios Dummy </h1>

<strong>Registrate! :D</strong>
<form action="/" method="POST">
  Ingresa tu nombre: 
  <input type="text"      name="user[name]"><br>
  Ingresa tu email:
  <input type="text"      name="user[email]"><br>
  Ingresa tu password:
  <input type="password"  name="user[password]"><br>
  Confirma tu password:
  <input type="password"  name="user[password_confirmation]"><br>
  <input type="submit" value=":D">

<end>
