<h1> Usuarios Dummy </h1>

<strong>Registrate! :D</strong>
<form action="/" method="POST">
  Nombre:<br>
  <input type="text"      name="user[name]"><br>
  Email:<br>
  <input type="text"      name="user[email]"><br>
  Password:<br>
  <input type="password"  name="user[password]"><br>
  Confirma tu password:
  <input type="password"  name="user[password_confirmation]">
  <input type="submit" value="Registrame!">

<end>
